body {
    background-color: #f4f6f9;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.form-control,
.form-select {
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    margin-left: 10px;
}
